In [ ]:
#câu 1:
listA = [1, 10, 20, 5, 60, 30, 10, 9, 10]
listB = []
for x in listA:
  if x!=10:
    listB.append(x)
print(listB)

[1, 20, 5, 60, 30, 9]

In [ ]:
# câu 2:
list1 = ["A", "B", "C", "D", "E", "F"]
list2 = [1,2,3,4,5,6]
Dictionary = dict(zip(list1, list2))
print(Dictionary)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}

In [ ]:
# cau 2:
list1 = ["A","B","C","D","E","F"]
list2 = [1,2,3,4,5,6]
dic={}
for x in range(len(list1)):
		dic[list1[x]] = list2[x]
print(dic)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}

In [ ]:
# câu 3:
person={
			"Name":"Quoc Nam",
			"Age": 28,
			"Salary":8000,
			"City":"Tuy Hoa"
	}
KeyRemove=["Salary", "City"]
for x in KeyRemove:
		if x in person:
			person.pop(x)
print(person)

{'Name': 'Quoc Nam', 'Age': 28}

In [ ]:
import pandas as pd

data = pd.read_csv("/content/drive/MyDrive/mobile_data (1).csv", delimiter=",")
data[:5]

In [ ]:
import pandas as pd

data = pd.read_csv("/content/drive/MyDrive/mobile_data (1).csv", delimiter=",")
print (data.head(5))
print (data.tail(5))

   index      company   body-style  ...  horsepower  average-mileage    price
0      0  alfa-romero  convertible  ...         111               21  13495.0
1      1  alfa-romero  convertible  ...         111               21  16500.0
2      2  alfa-romero    hatchback  ...         154               19  16500.0
3      3         audi        sedan  ...         102               24  13950.0
4      4         audi        sedan  ...         115               18  17450.0

[5 rows x 10 columns]
    index     company body-style  ...  horsepower  average-mileage    price
56     81  volkswagen      sedan  ...          85               27   7975.0
57     82  volkswagen      sedan  ...          52               37   7995.0
58     86  volkswagen      sedan  ...         100               26   9995.0
59     87       volvo      sedan  ...         114               23  12940.0
60     88       volvo      wagon  ...         114               23  13415.0

[5 rows x 10 columns]